[submodule "evolve_backend"]
path = evolve_backend
url = https://github.com/yuexclusive/evolve_backend.git
[submodule "evolve_book"]
path = evolve_book
url = https://github.com/yuexclusive/evolve_book.git
[submodule "evolve_website"]
path = evolve_website
url = https://github.com/yuexclusive/evolve_website.git
[submodule "evolve_tauri"]
path = evolve_tauri
url = https://github.com/yuexclusive/evolve_tauri.git
